/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/

body {
  background-color: #01737e;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 16px;
  color: #fefff2;
}
.wrapper {
  display: flex;
  flex-flow: column nowrap;

  overflow: hidden;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* header zone */

.header {
  background-color: #fefff2;
  margin-bottom: 20px;
}
.header__inner {
  padding: 15px 0 15px 15px;
}
.header__back a {
  font-size: 20px;
  font-weight: 600;
  color: #f64203;
}
/*---------------------------------------*/

/* examples zone */

.exampleZone__codeInner code {
  border-radius: 10px;
  height: 360px;
  transition: 0.5s;
}
.exampleZone__codeInner code:hover {
  box-shadow: 0px 0px 24px 11px rgba(34, 60, 80, 0.4);
}
.exampleZone__nav {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.exampleZone__nav h2 {
  font-weight: 500;
  background-color: #152228;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
}
.exampleZone__nav h2:hover {
  background-color: #f64203;
  padding: 10px 35px;
  border-radius: 10px;
}

.exampleZone__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  max-height: 630px;
}
.exampleZone__leftItem {
  padding: 0px 5px;
  flex-grow: 1;
  flex-shrink: 1;
}
.exampleZone__rightItem {
  padding: 0px 5px;
  flex-grow: 1;
  flex-shrink: 1;
}
/*--------------------------------------*/

/*Buttons zone */
.bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 10px 20px;

  -webkit-appearance: none;
  appearance: none;
  background-color: #f64203;
  color: #fff;
  border-radius: 4px;

  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}
.bubbly-button:focus {
  outline: 0;
}
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:active {
  transform: scale(0.9);
  background-color: #f64203;
  box-shadow: 0 2px 25px rgb(255, 81, 0);
}
.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

/* back button */
.backButtonIcon {
  position: relative;
  top: 1px;
  left: 0;
}
.backButton {
  background-color: #152228;
}
.bubbly-button:active {
  transform: scale(0.9);
  background-color: #152228;
  box-shadow: 0 2px 25px rgb(36, 35, 35);
}
/* copy button */
.copyButtonIcon {
  position: relative;
  top: 1px;
  left: 4px;
}
/*---------------------------------------*/

/* preview zone */
.preview {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 7px;
}
.preview__inner {
  background-color: #152228;
  padding: 50px;
  border-radius: 20px;
  transition: 0.5s;
}
.preview__inner:hover {
  box-shadow: 0px 0px 24px 11px rgba(34, 60, 80, 0.4);
}
.preview__row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.preview__img {
  max-width: 460px;
}
.preview__img img {
  width: 100%;
  padding: 0px 5px;
}

/* preview object-fit */

.secondExample {
}

.preview__objectFitRow {
  display: flex;
  flex-flow: row nowrap;
}
.preview__objectFitItem {
  height: 300px;
  padding: 0 5px;
}
.preview__objectFitItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.preview__objectFitItemSecond {
  height: 300px;
  padding: 0 5px;
}
.preview__objectFitItemSecond img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* If you are using a smartphone 
with a display 
resolution of up to 556px 
you see this example:  */
@media screen and (max-width: 566px) {
  .preview__objectFitRow {
    display: flex;
    flex-flow: column nowrap;
  }
  .preview__objectFitItem {
    height: 170px;
    padding: 5px 5px;
  }
  .preview__objectFitItemSecond {
    height: 170px;
    padding: 5px 5px;
  }
}

/* ------------------------------------------- */

/* preview picture tag */

.preview__picTag {
  max-width: 1140px;
}
.preview__picTag * {
  width: 100%;
}
/* ------------------------------------------- */

/* preview flex */
.preview__rowFlex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.preview__itemFlex {
  flex: 0 1 350px;
  padding: 0 5px;
}
.preview__itemFlex img {
  width: 100%;
  border-radius: 15px;
}
/* ------------------------------------------- */

/* preview background-image */
.preview__rowBack {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.preview__itemBack {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.preview__textBack {
  flex: 1 0 150px;
  padding-left: 12px;
}
.preview__itemBack h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.preview__itemBack p {
  font-size: 14px;
}
.preview__imageBack {
  width: 96px;
  height: 96px;
  background-image: url('../img/iconForBack.png');
  background-size: cover;
  border-radius: 50%;
}
@media screen and (max-width: 960px) {
  .preview__rowBack {
    flex-wrap: wrap;
  }
  .preview__itemBack {
    padding: 10px 10px;
  }
  .preview__imageBack {
    width: 46px;
    height: 46px;
  }
  .preview__itemBack h3 {
    font-size: 16px;
  }
  .preview__itemBack p {
    font-size: 12px;
  }
}
/* ------------------------------------------- */

/* preview Aspect Ratio */

.preview__rowAsp {
  display: flex;
  flex-flow: row wrap;
}
.preview__itemAsp {
  width: calc(100% / 4);
  margin: 0px 4px;

  height: 0;
  position: relative;
  overflow: hidden;
  padding-bottom: calc(56.25% / 4);
}
.preview__itemAsp img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  margin: auto;
}
/* ------------------------------------------- */

/*---------------------------------------*/

/* Adaptive media zone */
@media screen and (max-width: 848px) {
  .exampleZone__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    max-height: none;
  }
  .exampleZone__codeInner code {
    height: 100%;
  }
  .preview {
    margin-top: 0px;
    margin-bottom: 10px;
    padding: 0px 7px;
  }
  .preview__inner {
    padding: 10px;
  }
  .preview__img img {
    border-radius: 10px;
  }
}
@media screen and (max-width: 550px) {
  .exampleZone__codeInner code {
    font-size: 10px;
  }
  .bubbly-button {
    font-size: 15px;
    padding: 5px 10px;
  }
  .exampleZone__nav h2 {
    padding: 5px 7px;
    font-size: 18px;
  }
  .exampleZone__nav {
    padding: 0px 18px;
  }
}
@media screen and (max-width: 360px) {
  .exampleZone__leftItem {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 320px;
  }
  .exampleZone__rightItem {
    flex-grow: 1;
    flex-shrink: 0;
    max-width: 320px;
  }
}
/*---------------------------------------*/
